<footer class="footer">
  <div class="footer_main">
    <div class="u-container">
      <div class="row">
        <div class="col-12 col-md-3 col-lg-3">
          <img src="assets/icons/logo.svg" alt="Logo" class="logo" />
        </div>
        <div class="col-12 col-md-6 col-lg-6">
          <div class="footer_main-links">
            <a href="">Home</a>
            <a href="">About</a>
            <a href="">Documentation</a>
            <a href="">Contact Us</a>
            <a href="">Pricing</a>
          </div>
        </div>
        <div class="col-12 col-md-3 col-lg-3">
          <div class="footer_main-socials">
            <img src="assets/landing/svg/socials/twitter.svg" alt="twitter" />
            <img
              src="assets/landing/svg/socials/instagram.svg"
              alt="instagram"
            />
            <img
              src="assets/landing/svg/socials/facebook_white.svg"
              alt="facebook"
            />
            <img src="assets/landing/svg/socials/linkedin.svg" alt="linkedin" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer_date">
    <p class="footer_date-text">Klinicly © {{ date }}, All rights reserved</p>
  </div>
</footer>
