*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  line-height: unset;
  outline: none;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

.position-relative {
  position: relative;
}

.flex-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  &__full-row {
    flex: 1;

    &:not(:last-child) {
      margin-right: 4.5rem;
      @include respond(phone) {
        margin-right: 0;
      }
    }
  }
  &__row--75 {
    flex-basis: 75%;
  }
  &__row--25 {
    flex-basis: 25%;
  }
}

.pointer {
  cursor: pointer;
  transition: 0.3s all ease-in-out;
  &:hover {
    transform: (scale(1.03));
  }
}

.position-relative {
  position: relative;
}

.container {
  @include respond(tab-port) {
    padding: 0 2rem;
  }

}
