// Button Primary
.btn_primary {
  font-family: $montserrat_font_bold;
  background: $yellow;
  border-radius: 1rem;
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 3rem;
  color: $black;
  transition: 0.3s all ease-in-out;
  border: none !important;
  white-space: nowrap;
  &:hover,
  &:focus {
    border-radius: 4rem;
    background: rgba($color: $yellow, $alpha: 0.8);
  }

  @include respond(phone) {
    padding: 1.2rem !important;
    font-size: 1.4rem !important;
  }
}

.btn_lg {
  padding: 2rem 5.6rem;
  font-size: 2rem;
  @include respond(phone) {
    font-size: 1.4rem !important;
    padding: 1.2rem 2.4rem;
  }
}
