// colors and fonts go here.

//Primary Colors
$black: #000000;
$yellow: #fce82f;
$white: #ffffff;

//Fonts
$montserrat_font: "Montserrat", sans-serif;
$montserrat_font_bold: "Montserrat bold", sans-serif;
$montserrat_font_extra_bold: "Montserrat extra-bold", sans-serif;
