<div class="wrapper">
  <div class="wrapper_or">
    <div class="form_line"></div>
    <div class="wrapper_or-text">
      <p>or sign up with</p>
    </div>
    <div class="form_line"></div>
  </div>
  <div class="wrapper_socials">
    <div class="row">
      <div class="col-12 col-md-4 col-lg-4">
        <div class="wrapper_socials-social pointer">
          <img src="assets/landing/svg/socials/Google.svg" alt="google logo" />
          <p>Google</p>
        </div>
      </div>
      <div class="col-12 col-md-4 col-lg-4">
        <div class="wrapper_socials-social pointer">
          <img src="assets/landing/svg/socials/apple.svg" alt="apple logo" />
          <p>Apple</p>
        </div>
      </div>
      <div class="col-12 col-md-4 col-lg-4">
        <div class="wrapper_socials-social pointer">
          <img
            src="assets/landing/svg/socials/Facebook.svg"
            alt="facebook logo"
          />
          <p>Facebook</p>
        </div>
      </div>
    </div>
  </div>
</div>
