<main class="main">
  <section class="section heading" id="Home">
    <img src="assets/landing/svg/Pill1.svg" alt="pill" class="pill" />
    <img src="assets/landing/svg/Pill2.svg" alt="pill" class="pill" />
    <img src="assets/landing/svg/Pill3.svg" alt="pill" class="pill" />
    <img src="assets/landing/svg/Pill4.svg" alt="pill" class="pill" />
    <img src="assets/landing/svg/Pill1.svg" alt="pill" class="pill" />
    <img src="assets/landing/svg/Pill2.svg" alt="pill" class="pill" />
    <img src="assets/landing/svg/Pill3.svg" alt="pill" class="pill" />
    <img src="assets/landing/svg/Pill4.svg" alt="pill" class="pill" />
    <div class="u-container">
      <div class="heading_counts d-none d-md-block" #counters>
        <app-count
          [name]="'Generics'"
          [count]="landingCount.genericCount"
          [loading]="isGettingCount"
        >
        </app-count>
        <app-count
          [name]="'Brands'"
          [count]="landingCount.brandCount"
          [loading]="isGettingCount"
        ></app-count>
        <app-count
          [name]="'Companies'"
          [count]="landingCount.companyCount"
          [loading]="isGettingCount"
        ></app-count>
        <app-count
          [name]="'Drugs'"
          [count]="landingCount.drugCount"
          [loading]="isGettingCount"
        ></app-count>
      </div>

      <div class="heading_hero">
        <div #headerText>
          <h1 class="heading__header display_text">
            A complete <span>API</span> suite for all your drug needs
          </h1>
          <p class="heading__paragraph">
            Our Open Source API enables innovators and health-tech businesses to
            easily embed and distribute genuine drugs using our formulary within
            their products with the aim to fully digitize healthcare processes
            within Africa.
          </p>
        </div>
        <div class="heading__buttons">
          <ng-container *ngIf="guest">
            <button
              class="btn_outlined btn_md"
              [routerLink]="['/register']"
              routerLinkActive="active"
            >
              Create Account
            </button>
            <button
              class="btn_primary btn_md"
              [routerLink]="['/login']"
              routerLinkActive="active"
            >
              Sign In
            </button>
          </ng-container>
          <ng-container *rbacAllow="['User']">
            <button
              class="btn_primary btn_md"
              [routerLink]="['/s/dashboard']"
              *ngIf="!guest"
            >
              Dashboard
            </button>
          </ng-container>
          <ng-container *rbacAllow="['Company']">
            <button
              class="btn_primary btn_md"
              [routerLink]="['/c/dashboard']"
              *ngIf="!guest"
            >
              Dashboard
            </button>
          </ng-container>
        </div>
        <img
          src="assets/landing/img/mac.svg"
          alt="mac"
          class="heading__img"
          #heroImg
        />
      </div>
    </div>
  </section>

  <section class="section sectors">
    <div class="u-container">
      <h2 class="sectors__heading">
        We’ve got all <span>sectors</span> covered
      </h2>
      <div class="row" #section1>
        <div class="col-12 col-md-4 col-lg-4">
          <div class="sectors_card">
            <div class="sectors_card-img">
              <img src="assets/landing/svg/building.svg" alt="" />
            </div>
            <h4>Health-tech Companies</h4>
            <p>
              With Klinicly, health-tech companies would have an Open API with
              Nigerian formulary that they can plug into their solution.
            </p>
          </div>
        </div>
        <div class="col-12 col-md-4 col-lg-4">
          <div class="sectors_card">
            <div class="sectors_card-img">
              <img src="assets/landing/svg/folder_favorite.svg" alt="" />
            </div>
            <h4>Health Insurance Providers</h4>
            <p>
              With Klinicly, Health Insurance Providers can easily populate drug
              inventory within their product and dispense medication.
            </p>
          </div>
        </div>
        <div class="col-12 col-md-4 col-lg-4">
          <div class="sectors_card">
            <div class="sectors_card-img">
              <img src="assets/landing/svg/health.svg" alt="" />
            </div>
            <h4>Manufacturers</h4>
            <p>
              Klinicly is a reliable product where manufacturers can promote
              their new products with ease.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section about" id="About">
    <div class="u-container">
      <div class="flex-container" #section2>
        <div class="col-12 col-md-5 col-lg-5">
          <img
            src="assets/landing/img/spilled.svg"
            alt="spilled drugs"
            class="about__img"
          />
        </div>
        <div class="col-12 col-md-7 col-lg-7">
          <div class="about_card">
            <h2 class="about__heading">
              Move <span>beyond</span> the ordinary with Klincly
            </h2>
            <p class="about__paragraph">
              Klinicky Is an Open-Source API that enables innovators and
              health-tech businesses to easily embed and distribute genuine
              drugs using our formulary within their products with the aim to
              fully digitize healthcare processes within Africa. Collaborators
              within the products includes (Health-tech companies, HMOs,
              Hospitals, Manufacturers)
            </p>
            <button
              class="btn_outlined btn_white btn_md"
              [routerLink]="['/about']"
              routerLinkActive="active"
            >
              More About Us
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="u-container">
      <app-impact [landingCount]="landingCount"></app-impact>
    </div>
  </section>

  <section class="section lifting">
    <div class="u-container">
      <div class="flex-container" #section3>
        <div class="flex-container__full-row">
          <h2 class="lifting__heading">
            We’ve done the heavy <br />
            lifting for <span>you</span>
          </h2>
          <div class="lifting_timeline">
            <div class="lifting_timeline-item one">
              <p class="lifting_timeline-item__paragraph">
                We help you get direct access to multiple medical brands in one
                place without worrying about multiple partnerships, integrations
                or compliance.
              </p>
            </div>
            <div class="lifting_timeline-item two">
              <p class="lifting_timeline-item__paragraph">
                With Klinicly, you get access to a significant and well robust
                drugs database in the health value chain.
              </p>
            </div>
            <div class="lifting_timeline-item three">
              <p class="lifting_timeline-item__paragraph">
                We enable seamless and direct integrations into your platform.
                Built on a framework that lets you easily deploy Klinicly into
                healthcare products.
              </p>
            </div>
            <div class="lifting_timeline-item four">
              <p class="lifting_timeline-item__paragraph">
                We offer robust support documentation for seamless integrations
                and API management.
              </p>
            </div>
            <div class="lifting_timeline-item five">
              <p class="lifting_timeline-item__paragraph">
                With Klinicly, healthcare Patients get prescribed with the right
                medication which includes Nigerian Brands, Generic and Strength,
                Mode of Administration using our API as a service.
              </p>
            </div>
          </div>
        </div>

        <div class="flex-container__full-row">
          <img
            src="assets/landing/img/drugs.svg"
            alt="features of Primsol"
            class="lifting__img"
          />
        </div>
      </div>
    </div>
  </section>

  <!-- <section class="section partners">
    <div class="u-container">
      <h3 class="partners__heading">
        Partners creating <span>impact</span> with us
      </h3>
      <div class="partners__logo-container">
        <img
          src="assets/landing/img/aven.svg"
          alt="partners logo"
          class="partners__logo"
        />
        <img
          src="assets/landing/img/aven.svg"
          alt="partners logo"
          class="partners__logo"
        />
        <img
          src="assets/landing/img/aven.svg"
          alt="partners logo"
          class="partners__logo"
        />
        <img
          src="assets/landing/img/aven.svg"
          alt="partners logo"
          class="partners__logo"
        />
        <img
          src="assets/landing/img/aven.svg"
          alt="partners logo"
          class="partners__logo"
        />
        <img
          src="assets/landing/img/aven.svg"
          alt="partners logo"
          class="partners__logo"
        />
      </div>
    </div>
  </section> -->

  <section class="section documentation" #section4 id="Documentation">
    <!-- <img src="assets/landing/img/documentation.svg" alt="documentation" class="documentation__img"/> -->
    <video
      controls
      muted
      autoplay
      width="671"
      height="510"
      class="documentation__img"
    >
      <source src="assets/videos/doc.mov" />
      <source src="movie.ogg" type="video/ogg" />
      Your browser does not support the video tag.
    </video>

    <div class="u-container">
      <div class="flex-container">
        <div class="col-12 col-md-7 col-lg-8">
          <h2 class="documentation__heading">
            Well documented and <span>easy-to-use APIs</span> for developers
          </h2>
          <p class="documentation__paragraph">
            We understand the crux of good developer experience while
            interfacing with an <br />
            API. Our developer-friendly documentation and guide will get you
            started on <br />
            how to embed these APIs into your solution.
          </p>
          <div class="documentation_list">
            <div class="documentation_list-item">
              <div class="top">
                <img src="assets/landing/svg/note.svg" alt="Note" />
                <h4 class="documentation_list__heading">Comprehensive Guide</h4>
              </div>
              <p class="documentation__paragraph">
                Easily follow our documentation guide on how to use the APIs
              </p>
            </div>
            <div class="documentation_list-item">
              <div class="top">
                <img
                  src="assets/landing/svg/document_text.svg"
                  alt="Document"
                />
                <h4 class="documentation_list__heading">Docs Reference</h4>
              </div>
              <p class="documentation__paragraph">
                Get access to our docs for Reference during implementation
              </p>
            </div>
            <div class="documentation_list-item">
              <div class="top">
                <img src="assets/landing/svg/code.svg" alt="Code" />
                <h4 class="documentation_list__heading">API Snippet</h4>
              </div>
              <p class="documentation__paragraph">
                Find snippets on APIs structures to view what the JSON Data
                <br />
                looks like.
              </p>
            </div>
          </div>
          <button class="btn_primary btn_md">Read API Docs</button>
        </div>
      </div>
    </div>
  </section>

  <section class="section plans" id="Pricing">
    <div class="u-container">
      <h2 class="plans__heading">
        We’ve got the right <span>plan</span> for you
      </h2>
      <app-plans [isFromLanding]="true"></app-plans>
    </div>
  </section>

  <section class="section answers">
    <div class="u-container">
      <h2 class="plans__heading">
        Find <span>answers</span> to your questions
      </h2>
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseOne"
              aria-expanded="false"
              aria-controls="collapseOne"
            >
              HOW OFTEN DO YOU UPDATE DRUGBANK?
            </button>
          </h2>
          <div
            id="collapseOne"
            class="accordion-collapse collapse"
            aria-labelledby="headingOne"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <strong>Klinicly</strong> is updated on a daily basis. The Drug
              updates are uploaded and released quarterly. If you need more
              frequent updates, please contact us.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseTwo"
              aria-expanded="false"
              aria-controls="collapseTwo"
            >
              I FOUND AN ERROR IN A DRUG ENTRY. CAN YOU FIX IT?
            </button>
          </h2>
          <div
            id="collapseTwo"
            class="accordion-collapse collapse"
            aria-labelledby="headingTwo"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              Please use our contact form to submit an error report. If you can,
              please include references of the corrected information and we
              would update our <strong>Rx-Norm DB</strong>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseThree"
              aria-expanded="false"
              aria-controls="collapseThree"
            >
              CAN I USE DRUGBANK CONTENT IN MY COMMERCIAL PRODUCT OR
              APPLICATION?
            </button>
          </h2>
          <div
            id="collapseThree"
            class="accordion-collapse collapse"
            aria-labelledby="headingThree"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <strong>Kinicly</strong> is freely available to use in for
              commercial and non-commercial product. Commercial use is one
              primarily intended for commercial advantage or monetary
              compensation using any of our plans <br> <br>
              On no account should you share token details to a 3rd party user as it would result to your token being revocked and user removed from our database
Use the klinicly drug Database internally for commercial product development
Use the klinicly drug Database as a component of a data product or within software to be made commercially available.
The klinicly drug database may be used by individuals, institutions, governments, corporations or other business entities so long as you have the right access. <br> <br> If you wish to use to use the Kinicly Drug API for commercial purposes, please contact us to inquire about a separate agreement.
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section questions" id="Contact Us">
    <div class="u-container">
      <div class="flex-container" #section3>
        <div class="flex-container__full-row">
          <h2 class="questions__heading">Got <span>more</span> questions</h2>
          <p class="questions__paragraph">
            If you would like to reach out to us, drop a message or <br />
            give us a call, we are always happy to help.
          </p>
          <div class="questions_type">
            <img src="assets/landing/svg/sms.svg" alt="Note" />
            <a class="questions_type__heading" href="to:support@klinicly.com"
              >support@klinicly.com</a
            >
          </div>
          <div class="questions_type">
            <img src="assets/landing/svg/call.svg" alt="Note" />
            <a class="questions_type__heading" href="tel:07066002794"
              >07066002794</a
            >
          </div>
          <div class="questions_type">
            <img src="assets/landing/svg/call.svg" alt="Note" />
            <a class="questions_type__heading" href="tel:08083982028"
              >08083982028</a
            >
          </div>
          <div class="questions_type">
            <img src="assets/landing/svg/location.svg" alt="Note" />
            <p class="questions_type__heading">
              1st Floor S.A.I.M. Building No. 35 Association Avenue Ilupeju
              Lagos
            </p>
          </div>
        </div>
        <div class="flex-container__full-row">
          <div class="questions_card">
            <div class="form_group">
              <label for="name" class="form-label">Name </label>
              <input
                type="text"
                id="text"
                class="form-control"
                placeholder="Enter Your Name"
                (keyup)="checkForKeyEnter($event)"
                autocomplete="name"
              />
            </div>

            <div class="form_group">
              <label for="email" class="form-label">Email </label>
              <input
                type="email"
                id="email"
                class="form-control"
                placeholder="Enter email address"
                (keyup)="checkForKeyEnter($event)"
                autocomplete="email"
              />
              <div class="invalid-feedback">Required</div>
              <div class="invalid-feedback">Enter a valid email</div>
            </div>

            <div class="form_group">
              <label for="message" class="form-label">Message</label>
              <textarea
                cols="30"
                placeholder="Enter Message"
                rows="5"
                class="form-control"
              ></textarea>
              <div class="invalid-feedback">Required</div>
            </div>
            <button class="btn_primary btn_md btn_full">Send Message</button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section burden">
    <div class="u-container">
      <app-burden> </app-burden>
    </div>
  </section>
</main>
