@import "partials/abstract/mixins";
@import "partials/abstract/variables";

.burden_card {
  background: $accent;
  border-radius: 4.8rem;
  padding: 7.8rem 10.5rem 6.2rem;
  @include respond(phone) {
    border-radius: 1.8rem;
    margin-bottom: 2rem;
    padding: 2rem;
  }
}
.__heading {
  text-align: center;
  margin-bottom: 4.6rem;
  font-family: $nunito_font_extra_bold;
  font-weight: 900;
  line-height: 120%;
  color: $light-100;

  @include respond(phone) {
    margin-bottom: 1.2rem;
  }
}
.btn_started {
  background: $dark;
  box-shadow: 0px 4px 8px -1px rgba(35, 65, 179, 0.25);
  border-radius: 0.8rem;
  font-weight: 800;
  font-size: 1.8rem;
  line-height: 150%;
  color: $light-100;
  transition: 0.3s all ease-in-out;
  border: none;
  &:hover,
  &:focus {
    border-radius: 4rem;
    background: $light-100;
    color: $accent;
  }
  &:disabled {
    background: rgba($header, 0.15);
  }
}
