@import "partials/abstract/mixins.scss";
@import "partials/abstract/variables.scss";

.updates {
  background: $light-100;
  box-shadow: 0px 0px 20px rgba(37, 99, 235, 0.1);
  border-radius: 0.8rem;
  transition: 0.3s all ease-in-out;
  &__heading {
    font-family: $nunito_font_extra_bold;
    font-style: normal;
    font-weight: 800;
    font-size: 1.2rem;
    line-height: 150%;
    color: $header;
  }

  &__paragraph {
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 150%;
    color: $body;
  }

  &_head {
    border-bottom: 0.1rem solid rgba(15, 23, 51, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem;
    &-flex {
      display: flex;
      align-items: center;
      & > * {
        margin-right: 0.8rem;
      }
    }
  }
  &_item {
    &:not(:last-child) {
      border-bottom: 0.1rem solid rgba(15, 23, 51, 0.1);
    }

    padding: 1.2rem 1.6rem;
    &-flex {
      display: flex;
      align-items: center;
      & > * {
        margin-bottom: 0.4rem;
      }
    }
  }
}
