.form_group {
  font-family: $montserrat_font;
  margin-bottom: 2.9rem;
  @include respond(phone) {
    margin-bottom: 1.2rem;
  }

  input,
  textarea {
    width: 100%;
    background: $white;
box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
border-radius: 1rem;
    border: none;
    height: 4.2rem;
    font-size: 1.4rem !important;
    padding: 1.2rem 1.6rem;
    @include respond(phone) {
      height: 3.8rem;
      padding: 1.2rem;
    }
    &::placeholder {
      color: rgba($black, 0.6);
    }

    &:focus {
      background-color: $white;
      color: $black;
      border: 0.1rem solid rgba($black, 0.4);
      box-shadow: none !important;
    }
    &:active,
    &:focus {
      box-shadow: none !important;
      background: $white;
      border: 0.1rem solid $yellow;
    }
 
   
   
  }

  textarea {
    height: 100% !important;
  }
}
