// SCROLLBAR REDESIGN
html {
  --scrollbarBG: $black;
  --thumbBG: #fce82f;
}
body::-webkit-scrollbar,
body *::-webkit-scrollbar {
  width: 0.5rem;
  @include respond(tab-port) {
    display: none;
    -ms-overflow-style: none;
  }
}
body,
body * {
  scrollbar-width: 0.5rem;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body::-webkit-scrollbar-track,
body *::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb,
body *::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 0.8rem;
  border: 3px solid var(--scrollbarBG);
}
