<div class="wrapper">
  <h4 class="wrapper-heading">Change Password</h4>

  <form [formGroup]="passwordForm">
    <div class="row">
      <div class="col-12">
        <div class="form_group position-relative">
          <label for="opassword" class="form-label">password </label>
          <input
            [type]="showPassword ? 'text' : 'password'"
            id="opassword"
            class="form-control"
            placeholder="Enter Password"
            formControlName="oldPassword"
            autocomplete="current-password"
            [ngClass]="{
              'is-invalid':
                passwordForm.get('oldPassword')!.errors &&
                (passwordForm.get('oldPassword')!.dirty ||
                  passwordForm.get('oldPassword')!.touched)
            }"
          />
          <img
            (click)="showPassword = !showPassword"
            src="assets/icons/eye-icon-{{
              showPassword ? 'open' : 'close'
            }}.svg"
            alt="eye close icon"
            class="svg_eye"
          />
        </div>
      </div>
      <div class="col-12">
        <div class="form_group position-relative">
          <label for="npassword" class="form-label">New password </label>
          <input
            [type]="showNewPassword ? 'text' : 'password'"
            id="npassword"
            class="form-control"
            placeholder="Create New Password"
            formControlName="password"
            autocomplete="new-password"
            [ngClass]="{
              'is-invalid':
                passwordForm.get('password')!.errors &&
                (passwordForm.get('password')!.dirty ||
                  passwordForm.get('password')!.touched)
            }"
          />
          <span class="svg_eye">
            <img
              (click)="showNewPassword = !showNewPassword"
              src="assets/icons/eye-icon-{{
                showNewPassword ? 'open' : 'close'
              }}.svg"
              alt="eye close icon"
          /></span>

          <span
            class="invalid-feedback"
            *ngIf="passwordForm.get('password')!.hasError('required')"
          >
            Password is required
          </span>
          <small
            class="invalid-feedback mt-2"
            *ngIf="
              passwordForm.get('password')!.dirty &&
              passwordForm.get('password')!.invalid
            "
          >
            *Your password must have at least
            <span
              *ngIf="
                passwordForm.get('password')!.hasError('minlength') ||
                passwordForm.get('password')!.hasError('required')
              "
              >8 characters,
            </span>
            <span
              *ngIf="
                passwordForm.get('password')!.hasError('hasNumber') ||
                passwordForm.get('password')!.hasError('required')
              "
              >1 number,</span
            >
            <span
              *ngIf="
                passwordForm.get('password')!.hasError('hasCapitalCase') ||
                passwordForm.get('password')!.hasError('required')
              "
            >
              1 capital letter,
            </span>
            <span
              *ngIf="
                passwordForm.get('password')!.hasError('hasSmallCase') ||
                passwordForm.get('password')!.hasError('required')
              "
            >
              1 small letter,
            </span>
            <span
              *ngIf="
                passwordForm
                  .get('password')!
                  .hasError('hasSpecialCharacters') ||
                passwordForm.get('password')!.hasError('required')
              "
            >
              and 1 special character.
            </span>
          </small>
        </div>
      </div>

      <div class="col-12">
        <div class="form_group position-relative">
          <label for="confirmPassword" class="form-label"
            >Confirm Password</label
          >
          <input
            [type]="showConfirmPassword ? 'text' : 'password'"
            id="confirmPassword"
            class="form-control"
            placeholder="Confirm New Password"
            formControlName="confirmPassword"
            autocomplete="new-password"
            [ngClass]="{
              'is-invalid':
                (passwordForm.get('confirmPassword')!.dirty ||
                  passwordForm.get('confirmPassword')!.touched) &&
                passwordForm.get('confirmPassword')!.invalid
            }"
          />
          <img
            (click)="showConfirmPassword = !showConfirmPassword"
            src="assets/icons/eye-icon-{{
              showConfirmPassword ? 'open' : 'close'
            }}.svg"
            alt="eye close icon"
            class="svg_eye"
          />
          <small class="invalid-feedback mt-2">
            <span
              *ngIf="
                (passwordForm.get('confirmPassword')!.hasError('required') ||
                  passwordForm
                    .get('confirmPassword')!
                    .hasError('NoPasswordMatch')) &&
                (passwordForm.get('confirmPassword')!.dirty ||
                  passwordForm.get('confirmPassword')!.touched)
              "
            >
              Password Doesn't match
            </span>
          </small>
        </div>
      </div>
    </div>
  </form>
  <div class="form_group">
    <button
      class="btn_primary btn_md btn_full"
      [title]="
        passwordForm.invalid ? 'pls input correct details' : 'Change Password'
      "
      [disabled]="isLoading"
      (click)="change()"
    >
      <span *ngIf="!isLoading">Change Password</span>
      <span *ngIf="isLoading">
        <app-global-loader [diameter]="20" [inline]="true"></app-global-loader>
      </span>
    </button>
  </div>
</div>
