<div class="impact">
  <h3>
    We are progressively making <span>impact</span> and growing consistently.
  </h3>
  <div class="impact__pill">
    <div class="impact__pill-item">
      <h2 class="impact__pill-item__heading">900+</h2>
      <p class="impact__pill-item__paragraph">API Calls</p>
    </div>
    <div class="impact__pill-item">
      <h2 class="impact__pill-item__heading">{{landingCount.companyCount}}+</h2>
      <p class="impact__pill-item__paragraph">Partners</p>
    </div>
    <div class="impact__pill-item">
      <h2 class="impact__pill-item__heading">{{landingCount.drugCount}}+</h2>
      <p class="impact__pill-item__paragraph">Drugs</p>
    </div>
  </div>
</div>
