@import "partials/abstract/mixins";
@import "partials/abstract/variables";

.wrapper {
  height: 100%;
  width: 100%;
  &__img {
    background: $light-200;

    img {
      height: 100%;
      width: 100%;
      opacity: 0.8;
    }
  }
  &__form {
    @include respond(phone) {
      padding: 3rem;
    }
    @include minSize(L) {
      // max-width: 65.6rem;
    }
    // padding: 3rem;
    background: $light-100;
    margin: auto;
    max-width: 45.6rem;
    max-width: 48rem;

    &-logo {
      cursor: crosshair;
      margin-bottom: 2.4rem;
    }
    &-seperator {
      border: 0.1rem solid rgba($dark, 0.1);
      margin-bottom: 2.4rem;
    }
  }
}

.flex-container__full-row:not(:last-child) {
  margin-right: 0rem;
}
