<main class="main">
  <section class="section heading">
    <div class="heading_hero">
      <h1 class="heading__header display_text">About <span>Klinicly</span></h1>
    </div>
  </section>

  <section class="section plans">
    <img src="assets/landing/svg/connector.svg" alt="connect" class="connect" />
    <div class="u-container">
      <div class="plans_mission">
        <h2 class="plans__heading">
          We are on a mission to <span>digitilize</span> <br />
          healthcare processes within Africa.
        </h2>
        <p class="plans__paragraph">
          A, volutpat cursus sit in lacus tellus, purus. Sit eget amet, pulvinar
          ut massa scelerisque sit. Massa et <br />
          massa sed sodales ornare eu mauris dui lobortis. Vitae elit eu donec
          leo sed. Quis dolor eget <br />
          pellentesque lobortis. Eleifend turpis molestie varius faucibus enim,
          amet vestibulum. Ipsum nullam.
        </p>
      </div>
      <div class="plans__seperator"></div>

      <div class="row">
        <div class="col-12 col-md-6 col-lg-6" style="position: relative">
          <img
            src="assets/landing/img/standing.svg"
            alt="standing"
            class="standing"
          />
          <!-- <div class="plans_circles">
            <div class="position-relative">
              <div class="d-flex">
                <div class="circle circle--1">
                  <div class="img_holder">
                    <img
                      src="assets/landing/svg/building.svg"
                      alt="companies"
                    /> 
                  </div>
                  <h4>Health-tech Companies</h4>
                  <p>
                    Health-Tech companies don't have an open API with Nigerian
                    formulary they can plug into their solution.
                  </p>
                </div>
              </div>
              <div class="card-img-overlay sm_hide">
                <div class="d-flex justify-content-end">
                  <div class="circle circle--2">
                    <div class="img_holder">
                      <img
                        src="assets/landing/svg/health.svg"
                        alt="Manufacturers"
                      />
                    </div>
                    <h4>Manufacturers</h4>
                    <p>
                      Manufacturers did not have a reliable products they can
                      promote new products on.
                    </p>
                  </div>
                </div>
                <div class="d-flex justify-content-center">
                  <div class="circle circle--3">
                    <div class="img_holder">
                      <img
                        src="assets/landing/svg/folder_favorite.svg"
                        alt="insurance"
                      />
                    </div>
                    <h4>Health Insurance Providers</h4>
                    <p>
                      Health Insurance Providers could not easily populate drug
                      inventory within their product and dispense medication.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
        </div>
        <div
          class="col-12 col-md-6 col-lg-6 d-flex align-items-center justify-content-center"
        >
          <h2 class="plans__heading text-start">
            We identified the <br /><span>problem</span> 😔
          </h2>
        </div>
      </div>
      <div class="plans_rise">
        <h2 class="plans__heading">
          This gave rise to <span>Klinicly</span> 😁
        </h2>
        <p class="plans__paragraph">
          Neque lacus mi, consectetur varius feugiat tristique. Lectus ridiculus
          varius elit tellus. Tortor tellus <br />
          interdum sed turpis consectetur. Dolor, enim eget nisl eget donec
          natoque fermentum et. Amet,<br />
          ullamcorper commodo nisi, sagittis, nibh ipsum. In velit rhoncus,
          habitasse sed ut nibh porttitor. Semper.
        </p>
      </div>
    </div>
    <div class="u-container">
      <div class="plans_impact"><app-impact ></app-impact></div>
    </div>
  </section>

  <section class="section wondering">
    <div class="u-container">
      <h1 class="wondering__header display_text">
        Wondering how Klinicly can <br />
        be of <span>Value</span> to You?
      </h1>
      <div class="row">
        <div class="col-12 col-md-4 col-lg-4">
          <div class="d-flex justify-content-center">
            <div class="wondering_item one"></div>
          </div>
          <div class="wondering_card">
            <p class="wondering_card__paragraph">
              We help you get direct access to multiple medical brands in one
              place without worrying about multiple partnerships, integrations
              or compliance.
            </p>
          </div>
        </div>
        <div class="col-12 col-md-4 col-lg-4">
          <div class="d-flex justify-content-center">
            <div class="wondering_item two"></div>
          </div>
          <div class="wondering_card">
            <p class="wondering_card__paragraph">
              We enable seamless and direct integrations into your platform.
              Built on a framework that lets you easily deploy Klinicly into
              healthcare products.
            </p>
          </div>
        </div>
        <div class="col-12 col-md-4 col-lg-4">
          <div class="d-flex justify-content-center">
            <div class="wondering_item three"></div>
          </div>
          <div class="wondering_card">
            <p class="wondering_card__paragraph">
              With Klinicly, healthcare Patients get prescribed with the right
              medication which includes Nigerian Brands, Generic and Strength,
              Mode of Administration using our API as a service.
            </p>
          </div>
        </div>
      </div>
      <div class="value__cards">
        <!-- <div class="d-flex justify-content-center">
          <div class="wondering_item four"></div>
        </div> -->
        <div class="wondering_card card">
          <p class="wondering_card__paragraph">
            We help you get direct access to multiple medical brands in one
            place without worrying about multiple partnerships, integrations or
            compliance.
          </p>
        </div>
        <!-- <div class="d-flex justify-content-center">
          <div class="wondering_item five"></div>
        </div> -->
        <div class="wondering_card card">
          <p class="wondering_card__paragraph">
            We enable seamless and direct integrations into your platform. Built
            on a framework that lets you easily deploy Klinicly into healthcare
            products.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="section burden">
    <div class="u-container">
      <app-burden></app-burden>
    </div>
  </section>
</main>
