@import "partials/abstract/mixins.scss";
@import "partials/abstract/variables.scss";

.key {
  cursor: crosshair;
  background: $light-100;
  box-shadow: 0px 0px 20px rgba(37, 99, 235, 0.1);
  border-radius: .8rem;
  padding: 2.4rem;
  margin-bottom: 1.6rem;
  h4 {
    font-family: $nunito_font_extra_bold;
    margin-bottom: 1rem;
    font-weight: 900;
    font-size: 1.6rem;
    line-height: 1rem;
    color: $header;
  }
  &_api {
    display: flex;
    align-items: center;
    margin-bottom: 0.8rem;
    .btn_primary {
      margin-left: 0.4rem;
    }
  }
  &_copy {
    display: flex;
    align-items: center;
    p {
      margin-left: 0.8rem;
      font-weight: 400;
      font-size: 1.2rem;
      line-height: 150%;
      color: $body;
      cursor: crosshair;
    }
  }

  &_top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    p{
      font-size: 1.2rem;
      font-style: italic;
    }
  }
}
