@import "partials/abstract/variables";
@import "partials/abstract/mixins";

.side-d-wrapper {
  display: block;
  .form-wrapper {
    // padding: 15px 0;
    .form-wrapper__header {
      margin-bottom: 0px;
    }
  }
}

nav.side {
  width: 30%;
  position: absolute;
  right: 0;
  height: 100%;
  z-index: 999;
  background: $light-100;
  box-shadow: -3px 0px 3px rgba(24, 34, 82, 0.08);
  border-radius: 0.8rem;
  transition: transform 0.3s ease;
  overflow-y: auto;
  top: 0;
  transform: translateX(100%);
  will-change: transform;
  height: 100%;
  max-height: 76.8rem;
  position: fixed;
  padding: 0rem 0.7rem;
  top: 0;
}

nav.active {
  transform: none;
}

@media (max-width: 768px) {
  nav.side {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .side-d-wrapper {
    .form-wrapper {
      .form-wrapper__header {
        margin-bottom: 2rem;
      }
    }
  }
}
