<header class="header" #header [ngClass]="{ scrolled: scrolled }">
  <nav class="nav u-container">
    <div class="nav__col">
      <!-- MOBILE HEADER -->
      <div class="mobile-header">
        <span
          class="hamburger hamburger--slider-r"
          role="button"
          (click)="toggleSideNav()"
          [ngClass]="showSideNav ? 'is-active' : ''"
          tabindex="0"
          aria-label="Menu"
          aria-controls="navigation"
        >
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </span>
      </div>

      <img
        src="assets/icons/logo.svg"
        alt="logo"
        class="nav__logo"
        [routerLink]="['/']"
      />

      <div
        class="pointer ms-5 mobile"
        (click)="setSearchMode()"
        *ngIf="!searchMode"
      >
        <svg
          width="20"
          height="20"
          viewBox="0 0 20 20"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g clip-path="url(#clip0_567_869)">
            <path
              d="M18.3337 18.3337L16.667 16.667M9.58366 17.5003C13.9559 17.5003 17.5003 13.9559 17.5003 9.58366C17.5003 5.2114 13.9559 1.66699 9.58366 1.66699C5.2114 1.66699 1.66699 5.2114 1.66699 9.58366C1.66699 13.9559 5.2114 17.5003 9.58366 17.5003Z"
              stroke="#596180"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </g>
          <defs>
            <clipPath id="clip0_567_869">
              <rect width="20" height="20" fill="white" />
            </clipPath>
          </defs>
        </svg>
      </div>
      <ul class="nav__list non-mobile-header" *ngIf="!searchMode">
        <li
          class="nav__list-item"
          [class.active]="activeFragment == fragments.HOME"
        >
          <a [routerLink]="'.'" [fragment]="fragments.HOME">{{
            fragments.HOME
          }}</a>
        </li>

        <li
          class="nav__list-item"
          [class.active]="activeFragment == fragments.ABOUT"
        >
          <a [routerLink]="'.'" [fragment]="fragments.ABOUT">{{
            fragments.ABOUT
          }}</a>
        </li>

        <li
          class="nav__list-item"
          [class.active]="activeFragment == fragments.DOCUMENTATION"
        >
          <a [routerLink]="'.'" [fragment]="fragments.DOCUMENTATION"
            >{{ fragments.DOCUMENTATION }}
          </a>
        </li>

        <li
          class="nav__list-item"
          [class.active]="activeFragment == fragments.PRICING"
        >
          <a [routerLink]="'.'" [fragment]="fragments.PRICING">{{
            fragments.PRICING
          }}</a>
        </li>

        <li
          class="nav__list-item"
          [class.active]="activeFragment == fragments.CONTACT_US"
        >
          <a [routerLink]="'.'" [fragment]="fragments.CONTACT_US">{{
            fragments.CONTACT_US
          }}</a>
        </li>

        <li class="nav__list-item">
          <a>
            <div class="pointer" (click)="setSearchMode()">
              <svg
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g clip-path="url(#clip0_567_869)">
                  <path
                    d="M18.3337 18.3337L16.667 16.667M9.58366 17.5003C13.9559 17.5003 17.5003 13.9559 17.5003 9.58366C17.5003 5.2114 13.9559 1.66699 9.58366 1.66699C5.2114 1.66699 1.66699 5.2114 1.66699 9.58366C1.66699 13.9559 5.2114 17.5003 9.58366 17.5003Z"
                    stroke="#596180"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </g>
                <defs>
                  <clipPath id="clip0_567_869">
                    <rect width="20" height="20" fill="white" />
                  </clipPath>
                </defs>
              </svg></div
          ></a>
        </li>
      </ul>
      <!-- 
      <input
        type="text"
        class="form-control"
        #input
        placeholder="Search brands, generics, drugs, companies"
        (keyup)="getSearchQuery(input.value, $event)"
        [formControl]="searchForm"
      /> -->

      <ul class="nav__list" [hidden]="!searchMode">
        <div class="search-wrapper-input">
          <div class="_icon">
            <span class="_search">
              <img src="assets/icons/search_normal.svg" />
            </span>
          </div>
          <input
            #searchQuery
            type="text"
            class="form-control"
            (keyup)="getSearchQuery(searchQuery.value, $event)"
            placeholder="Search brands, generics, drugs, companies"
            [matAutocomplete]="auto"
            [formControl]="searchForm"
          />
          <mat-autocomplete
            #auto="matAutocomplete"
            showPanel
            (optionSelected)="optionSelected($event)"
          >
            <!-- <mat-option
          *ngIf="!(loading$ | async ) && !(searchTerms | async).length"
          [disabled]="true"
        >
        No result
        </mat-option> -->
            <mat-option
              *ngFor="let searchTerm of searchTerms | async"
              [value]="searchTerm"
            >
              {{ searchTerm }}
            </mat-option>
            <!-- <mat-option
          *ngIf="(loading$ | async)"
          [disabled]="true"
          class='auto-complete-loader'
        >
          Loading...
        </mat-option> -->
          </mat-autocomplete>
          <span
            class="_clear"
            (click)="getSearchQuery('', { keyCode: '' }, true)"
          >
            <img src="assets/landing/svg/close.svg" alt="close" />
          </span>
        </div>
        <div
          class="history dropdown"
          matTooltip="History"
          matTooltipPosition="below"
        >
          <div
            class="notification__icon dropdown-toggle"
            type="button"
            id="dropdownMenu"
            data-bs-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <span class="item-name" [hidden]="['xs', 'sm'].includes(screen)"
              >History</span
            >
            <mat-icon
              matSuffix
              svgIcon="history"
              class="mat-icon-history"
              *ngIf="['xs', 'sm'].includes(screen)"
            ></mat-icon>
            <span class="item-icon" *ngIf="!['xs', 'sm'].includes(screen)"
              ><i class="fa fa-angle-down"></i
            ></span>
          </div>
          <div
            class="notification__dropdown-menu dropdown-menu"
            aria-labelledby="dropdownMenu"
          >
            <div (click)="stopBubbling($event)" class="notification__container">
              <div class="dropdown-item notification__header search-history">
                <div class="notification__count">Search History</div>
                <div class="notification__clear" (click)="clearAllSearchList()">
                  Clear all
                </div>
              </div>
              <div class="notification__dropdown-body">
                <div
                  class=""
                  *ngIf="searchHistory?.length == 0; else searchHistorycontent"
                >
                  <app-empty-search-history></app-empty-search-history>
                </div>
                <ng-template #searchHistorycontent>
                  <div
                    *ngFor="let result of searchHistory"
                    class="nav__results-result"
                  >
                    <p class="nav__results-heading">Brands</p>
                    <p
                      class="nav__results-paragraph"
                      *ngFor="let item of [1, 2]"
                    >
                      Ultricies aliquam consequat facilisis tellus.
                    </p>
                  </div>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
      </ul>
    </div>

    <div class="nav__col non-mobile-header">
      <div class="nav__buttons">
        <ng-container *ngIf="guest">
          <button
            class="btn_primary btn_md"
            [routerLink]="['/login']"
            routerLinkActive="active"
          >
            Sign In
          </button>
          <button
            class="btn_outlined btn_md"
            [routerLink]="['/register']"
            routerLinkActive="active"
          >
            Create Account
          </button>
        </ng-container>
        <ng-container *rbacAllow="['User']">
          <button
            class="btn_primary btn_md"
            [routerLink]="['/s/dashboard']"
            *ngIf="!guest"
          >
            Dashboard
          </button>
        </ng-container>
        <ng-container *rbacAllow="['Company']">
          <button
            class="btn_primary btn_md"
            [routerLink]="['/c/dashboard']"
            *ngIf="!guest"
          >
            Dashboard
          </button>
        </ng-container>
      </div>
    </div>
    <app-search-results
      class="w-100"
      [ngClass]="{
        close: !this.searchForm.value || !searchMode
      }"
      [length]="searchResults.length!"
      [searchResults]="searchResults"
      [loading]="isLoading"
    ></app-search-results>

    <!-- <div
      class="nav__results"
      [ngClass]="{
        close: !this.searchForm.value || !searchMode
      }"
    >
      <div
        class=""
        *ngIf="searchResults?.length == 0 && !isLoading; else searchContent"
      >
        <app-empty-search-history></app-empty-search-history>
      </div>
      <span *ngIf="isLoading"><app-global-loader></app-global-loader></span>
      <ng-template #searchContent>
        <ng-container *ngIf="!isLoading">
          <div *ngFor="let result of searchResults" class="nav__results-result">
            <p class="nav__results-heading">{{ result?.title }}</p>
            <p
              class="nav__results-paragraph"
              *ngFor="let item of result?.items"
            >
              {{ item?.name }}
            </p>
          </div></ng-container
        >
      </ng-template>
    </div> -->
  </nav>

  <aside [class.show]="showSideNav">
    <ul class="nav__list">
      <li
        class="nav__list-item"
        [class.active]="activeFragment == fragments.HOME"
      >
        <a
          [routerLink]="'.'"
          [fragment]="fragments.HOME"
          (click)="toggleSideNav()"
          >{{ fragments.HOME }}</a
        >
      </li>

      <li
        class="nav__list-item"
        [class.active]="activeFragment == fragments.ABOUT"
      >
        <a
          [routerLink]="'.'"
          [fragment]="fragments.ABOUT"
          (click)="toggleSideNav()"
          >{{ fragments.ABOUT }}</a
        >
      </li>
      <li
        class="nav__list-item"
        [class.active]="activeFragment == fragments.DOCUMENTATION"
      >
        <a
          [routerLink]="'.'"
          [fragment]="fragments.DOCUMENTATION"
          (click)="toggleSideNav()"
          >{{ fragments.DOCUMENTATION }}</a
        >
      </li>
      <li
        class="nav__list-item"
        [class.active]="activeFragment == fragments.PRICING"
      >
        <a
          [routerLink]="'.'"
          [fragment]="fragments.PRICING"
          (click)="toggleSideNav()"
          >{{ fragments.PRICING }}</a
        >
      </li>

      <li
        class="nav__list-item"
        [class.active]="activeFragment == fragments.CONTACT_US"
      >
        <a
          [routerLink]="'.'"
          [fragment]="fragments.CONTACT_US"
          (click)="toggleSideNav()"
          >{{ fragments.CONTACT_US }}</a
        >
      </li>
    </ul>
  </aside>
</header>
