@import "partials/abstract/mixins";
@import "partials/abstract/variables";

$hamburger-layer-color: #8995ab;
$hamburger-layer-width: 24px;
$hamburger-layer-height: 4px;
$hamburger-layer-spacing: 4px;
$hamburger-padding-x: 0;
$hamburger-padding-y: 0;

@import "~hamburgers/_sass/hamburgers/hamburgers.scss";

.header {
  width: 100%;
  height: 7.2rem;
  position: fixed;
  top: 0;
  border-bottom: 1px solid rgba(15, 23, 51, 0.1);
  z-index: 10;
  padding: 0 2.377rem;
  background: transparent;
  transition: 0.3s all ease-in-out;
  &.scrolled {
    background: $light-200;
    // box-shadow: 0px 4px 24px rgba(0, 23, 81, 0.06);
  }
  @include respond(phone) {
    height: 6rem;
    box-shadow: none;
    border-bottom: 0.5px solid #dee4e4;
  }
}

aside {
  display: none;

  @include respond(tab-sm) {
    display: block;
    position: absolute;
    top: 6rem;
    background-image: url(../../../../assets/landing/img/gradient1.svg);
    width: 100%;
    left: 0;
    height: calc(100vh - 6rem);
    transform: translateX(-100%);
    transition: all 0.3s ease-in-out;

    &.show {
      transform: translateX(0);
      transition: all 0.3s ease-in-out;
    }
  }

  & ul {
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0.8rem 0 0 0;

    & li {
      width: 100%;

      & a {
        font-family: $nunito_font_bold;
        display: block;
        color: $header;
        transition: all 0.2s ease-in;
        font-weight: 700;
        font-size: 1.4rem;
        padding: 0.8rem 2.377rem;
        text-decoration: none;
        &:hover {
          color: $dark;
          text-decoration: none;
          font-style: italic;
        }
        &.active {
          font-style: italic;
          color: $dark;
          border-color: $accent;
        }

        &:hover,
        &:focus {
          text-decoration: none;
        }
      }
    }
  }

  & ul.second {
    padding-top: 0;
  }
}

.mobile-header {
  display: none;
  @include respond(tab-sm) {
    display: block;
    & .hamburger {
      margin-top: 8px;
      margin-right: 2.5rem;
    }
  }
}

.mobile {
  display: none;
  @include respond(phone) {
    display: block;
  }
}

// .mobile {
//   display: none;
//   @include respond(tab-sm) {
//     display: block;
//   }
// }

.nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include respond(tab-sm) {
    &__logo {
      height: 2.4rem;
    }
  }

  .nav__col {
    height: 100%;
    display: flex;
    align-items: center;

    & > * {
      margin-bottom: unset;
    }
    & > :not(:last-child) {
      margin-right: 4rem;
      @include respond(tab-sm) {
        margin-right: unset;
      }
    }

    &.non-mobile-header {
      @include respond(tab-sm) {
        display: none;
      }
    }
  }

  .nav__list {
    height: 100%;
    list-style-type: none;
    display: flex;
    align-items: center;

    & > :not(:last-child) {
      margin-right: 4rem;
    }

    @include respond(tab-sm) {
      & > :not(:last-child) {
        margin-right: 2rem;
      }
    }
    &.non-mobile-header {
      @include respond(tab-sm) {
        display: none;
      }
    }
  }

  .nav__results {
    transition: all ease-in-out 0.3s;
    background: rgba($color: $light-100, $alpha: 0.98);
    width: 55%;
    min-height: 26.1rem;
    max-height: 48rem;
    overflow-y: scroll;
    filter: drop-shadow(0px 16px 32px rgba(37, 99, 235, 0.15));
    border-radius: 0 0 1.6rem 1.6rem;
    padding: 2.4rem 3.2rem;
    &.close {
      height: 0;
      min-height: 0;
      overflow: hidden;
      padding: 0;
    }
    &-result {
      margin-bottom: 2.4rem;
    }
    &-heading {
      margin-bottom: 0.6rem;
      font-family: $nunito_font_extra_bold;
      font-weight: 700;
      font-size: 1.6rem !important;
      line-height: 150% !important;
      color: $body;
    }
    &-paragraph {
      margin-bottom: 1.2rem;
      font-weight: 400;
      font-size: 1.6rem;
      line-height: 150%;
      color: $body;
    }
    @include respond(phone) {
      padding: 2rem;
    }
  }
  .search-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 0 !important;
    @include respond(tab-sm) {
      flex-wrap: wrap;
    }
    &-input {
      position: relative;
      margin-right: 0.4rem;
      // flex-grow: 3;
      ._icon {
        position: absolute;
        left: 0;
        top: 18%;
      }

      ._search {
        cursor: pointer;
      }
      ._clear {
        position: absolute;
        right: 0rem;
        top: 0;
        height: 20px;
        width: 20px;
        cursor: pointer;
        transition: all ease-out 0.2s;
        &:hover {
          transform: scale(1.2);
        }
      }
      .form-control {
        padding: 1rem 1.6rem 1rem 3.2rem;
        max-height: 3.2rem !important;
        min-width: 48rem;
        border-radius: 0.6rem;

        border: none;
        background: none;
        &:focus {
          box-shadow: none;
        }

        @include respond(phone) {
          min-width: 23rem;
        }
      }
    }
    .btn-wrapper {
      img,
      svg {
        transition: all ease-in 0.2s;
      }
      .btn {
        height: 3.2rem;
        box-shadow: 0px 4px 8px -1px rgba(35, 65, 179, 0.25);
        border-radius: 0.6rem;
      }

      .btn:hover {
        img,
        svg {
          visibility: hidden;
        }
        .text {
          margin-left: 0rem;
        }
      }
      @include respond(tab-sm) {
        margin-bottom: 1rem;
        margin-top: 1rem;
        .btn:hover {
          img,
          svg {
            visibility: visible;
          }
        }
        .text {
          display: none;
        }
      }
    }
  }
  .nav__list-item {
    // height: 100%;
    display: block;
    &.active {
      a {
        color: $dark;
        border-color: $accent;
      }
    }

    & a {
      font-family: $nunito_font_bold;
      display: flex;
      height: 100%;
      align-items: center;
      font-weight: 700;
      font-size: 1.4rem;
      line-height: 150%;
      padding-bottom: 0.5rem;
      color: $header;
      transition: all 0.2s ease-in;
      border-bottom: 0.3rem solid transparent;
      text-decoration: none;
      &:hover {
        color: $dark;
        text-decoration: none;
      }
      &.active {
        color: $dark;
        border-color: $accent;
      }
    }

    cursor: pointer;
  }

  .nav__buttons {
    & > :first-child {
      margin-right: 1.6rem;
    }
    margin-bottom: 5.5rem;
    @include respond(phone) {
      margin-bottom: 2rem;
    }
  }
}

.u-container {
  max-width: 112rem;
  height: 100%;
  margin: 0 auto;
}

.btn {
  transition: all 0.2s ease-in;
  &__cta {
    padding: 1rem 2.6rem;
    background: #ffad00;
    border-radius: 0.3rem;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.1rem;
    color: #ffffff;
    text-decoration: none;
    @include respond(phone) {
      padding: 0.8rem 2rem;
      font-size: 1.2rem;
    }
    &--lg {
      padding: 2.2rem 4.2rem;
    }
  }
  &__cta-alt {
    padding: 1rem 2.6rem;
    background: #ffad00;
    border-radius: 0.3rem;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.1rem;
    color: #ffffff;
    &--lg {
      padding: 2.2rem 4.2rem;
    }
  }
  &.u-no-transform:hover {
    transform: unset;
  }
  &:hover {
    transform: translateY(-0.5rem);
  }
}

//HISTORY
.history {
  flex: 0 0 12.2rem;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  border-right: 1px solid #f7f8f9;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 2.4rem;

  @include respond(tab-port) {
    padding: 0;
    padding-right: 1.4rem;
    border: none;
    flex: 0;
  }

  &.dropdown.show {
    background-color: #f5f7fa;
  }
}
.item-name {
  font-family: $nunito_font_extra_bold;
  font-size: 1.4rem;
  font-weight: 400;
  color: $accent;
}

.item-icon {
  font-size: 1.6rem;
  color: $light-200;
}
