<div class="account">
  <form [formGroup]="accountForm">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-6">
        <div class="form_group">
          <label for="firstName" class="form-label">First Name </label>
          <input
            type="text"
            id="firstName"
            class="form-control"
            placeholder="First Name"
            autocomplete="name"
            formControlName="firstName"
          />
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-6">
        <div class="form_group">
          <label for="lastName" class="form-label">Last Name </label>
          <input
            type="text"
            id="lastName"
            class="form-control"
            placeholder="First Name"
            autocomplete="name"
            formControlName="lastName"
          />
        </div>
      </div>
      <div class="col-12">
        <div class="form_group">
          <label for="email" class="form-label">Email </label>
          <input
            type="email"
            id="email"
            class="form-control"
            placeholder="Enter Your Email Address"
            autocomplete="email"
            formControlName="email"
          />
        </div>
      </div>
      <div class="col-12">
        <div class="form_group">
          <label for="email" class="form-label">Country </label>
          <input
            type="email"
            id="email"
            class="form-control"
            placeholder="Enter Your Email Address"
            autocomplete="email"
            formControlName="country"
          />
        </div>
      </div>
    </div>

    <!-- <div class="form_group">
      <button class="btn_primary btn_md btn_full">
        <span> Save Changes </span>
        <span *ngIf="isLoading">
          <app-global-loader
            [diameter]="20"
            [inline]="true"
          ></app-global-loader>
        </span>
      </button>
    </div> -->
  </form>
</div>
