<ng-container *ngIf="!is_loading">
  <div class="wrapper">
    <div class="text-center">
      <div class="wrapper_image">
        <img
          [src]="
            img
              ? img
              : is_initial
              ? 'assets/icons/empty_table.svg'
              : 'assets/icons/empty_search_table.svg'
          "
          alt=""
        />
      </div>
      <div class="wrapper_header">
        <h4>{{ is_initial ? "No " + name : name + " not found" }}</h4>
      </div>
      <div class="wrapper_info">
        <p>
          {{
            is_initial
              ? "All " + name + "s  will appear here. "
              : "your search " + name + " does not match any history."
          }}
        </p>
      </div>
      <div class="wrapper_action">
        <button
          class="btn btn-outline-grey btn-lg w-100"
          (click)="openAddDialog()"
        >
          Add {{ name }}
        </button>
      </div>
    </div>
  </div>
</ng-container>
