<div class="dialog-header" mat-dialog-title>
  <h2 mat-dialog-title>Message</h2>
  <div class="click" mat-dialog-close>
    <img src="assets/icons/close.svg" alt="close_icon" />
  </div>
</div>
<mat-dialog-content class="mat-typography">
  <img src="" alt="" />
  <p>
    If you cannot find an email from us in your inbox, please click the ‘Resend
    Email ‘ button below. Don’t forget to check the junk folder.
  </p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close class="btn_outlined btn_md me-4" #close>
    Close
  </button>
</mat-dialog-actions>
