<div class="wrapper">
  <h3 class="wrapper-heading">Reset Password</h3>
  <p class="wrapper-paragraph">
    Create a new secured password you can easily remember.
  </p>

  <form [formGroup]="resetForm">
    <div class="row">
      <div class="col-12">
        <div class="form_group position-relative">
          <label for="password" class="form-label">password </label>
          <input
            [type]="showPassword ? 'text' : 'password'"
            id="password"
            class="form-control"
            placeholder="Enter Password"
            formControlName="password"
            (keyup)="checkForKeyEnter($event)"
            autocomplete="current-password"
            [ngClass]="{
              'is-invalid':
                resetForm.get('password')!.errors &&
                (resetForm.get('password')!.dirty ||
                  resetForm.get('password')!.touched)
            }"
          />
          <img
            (click)="showPassword = !showPassword"
            src="assets/icons/eye-icon-{{
              showPassword ? 'open' : 'close'
            }}.svg"
            alt="eye close icon"
            class="svg_eye"
          />

          <span
            class="invalid-feedback"
            *ngIf="resetForm.get('password')!.hasError('required')"
          >
            Password is required
          </span>
          <small
            class="invalid-feedback mt-2"
            *ngIf="
              resetForm.get('password')!.dirty &&
              resetForm.get('password')!.invalid
            "
          >
            *Your password must have at least
            <span
              *ngIf="
                resetForm.get('password')!.hasError('minlength') ||
                resetForm.get('password')!.hasError('required')
              "
              >8 characters,
            </span>
            <span
              *ngIf="
                resetForm.get('password')!.hasError('hasNumber') ||
                resetForm.get('password')!.hasError('required')
              "
              >1 number,</span
            >
            <span
              *ngIf="
                resetForm.get('password')!.hasError('hasCapitalCase') ||
                resetForm.get('password')!.hasError('required')
              "
            >
              1 capital letter,
            </span>
            <span
              *ngIf="
                resetForm.get('password')!.hasError('hasSmallCase') ||
                resetForm.get('password')!.hasError('required')
              "
            >
              1 small letter,
            </span>
            <span
              *ngIf="
                resetForm.get('password')!.hasError('hasSpecialCharacters') ||
                resetForm.get('password')!.hasError('required')
              "
            >
              and 1 special character.
            </span>
          </small>
        </div>
      </div>

      <div class="col-12">
        <div class="form_group position-relative">
          <label for="password" class="form-label">Confirm Password</label>
          <input
            [type]="showConfirmPassword ? 'text' : 'password'"
            id="password"
            class="form-control"
            placeholder="Create a secure password"
            formControlName="confirmPassword"
            (keyup)="checkForKeyEnter($event)"
            autocomplete="new-password"
            [ngClass]="{
              'is-invalid':
                resetForm.get('confirmPassword')!.dirty &&
                resetForm.get('confirmPassword')!.invalid
            }"
          />
          <img
            (click)="showConfirmPassword = !showConfirmPassword"
            src="assets/icons/eye-icon-{{
              showConfirmPassword ? 'open' : 'close'
            }}.svg"
            alt="eye close icon"
            class="svg_eye"
          />
        </div>
        <small class="invalid-feedback mt-2">
          <span
            *ngIf="
              (resetForm.get('confirmPassword')!.hasError('required') ||
                resetForm
                  .get('confirmPassword')!
                  .hasError('NoPasswordMatch')) &&
              (resetForm.get('confirmPassword')!.dirty ||
                resetForm.get('confirmPassword')!.touched)
            "
          >
            Password Doesn't match
          </span>
        </small>
      </div>
    </div>

    <p class="wrapper-already">
      Already have an accont?
      <span [routerLink]="['/login']" routerLinkActive="active">Sign In</span>
    </p>
  </form>
  <div class="form_group">
    <button
      class="btn_primary btn_md btn_full"
      [title]="
        resetForm.invalid ? 'pls input correct details' : 'Reset Password'
      "
      (click)="reset()"
    >
      <span *ngIf="!isLoading">Reset Password</span>
      <span *ngIf="isLoading">
        <app-global-loader [diameter]="20" [inline]="true"></app-global-loader>
      </span>
    </button>
  </div>
</div>
