<div class="wrapper">
  <h3 class="wrapper-heading">Forgot Password?</h3>
  <p class="wrapper-paragraph">
    Enter the email you used to register to get a password reset link.
  </p>

  <form [formGroup]="forgotForm">
    <div class="form_group">
      <label for="email" class="form-label">Email </label>
      <input
        #input
        type="email"
        id="email"
        class="form-control"
        placeholder="Enter Your Email Address"
        formControlName="email"
        (keyup)="checkForKeyEnter($event)"
        autocomplete="email"
        [ngClass]="{
          'is-invalid':
            (email!.errors?.required && (email!.dirty || email!.touched)) ||
            (email!.hasError('email') && !email!.hasError('required'))
        }"
      />
      <span
        class="invalid-feedback"
        *ngIf="email?.errors?.required && (email?.dirty || email?.touched)"
        >Required</span
      >
      <span
        class="invalid-feedback"
        *ngIf="email?.hasError('email') && !email?.hasError('required')"
        >Please provide a valid email address</span
      >
    </div>
    <div class="form_group">
      <button class="btn_text btn_md btn_full" disabled>
        Resend in {{ timeLeft }}
      </button>
    </div>
    <div class="form_group">
      <button
        (click)="forgot()"
        [disabled]="timeLeft > 0"
        class="btn_primary btn_md btn_full"
        [title]="forgotForm.invalid ? 'pls input correct email' : 'Send Link'"
      >
        <span *ngIf="!isLoading">Send Link</span>
        <span *ngIf="isLoading">
          <app-global-loader
            [diameter]="20"
            [inline]="true"
          ></app-global-loader>
        </span>
      </button>
    </div>
    <p
      class="wrapper-already"
      [routerLink]="['/login']"
      routerLinkActive="active"
    >
      I remember my password <span>Sign In</span>
    </p>
  </form>
</div>
