<div class="wrapper">
  <div class="container">
    <div class="plan">
      <h4 class="plan__heading">Select Klinicly Plan</h4>
      <ul>
        <li
          [ngClass]="{ active: selectedPlanId == plan?.id }"
          *ngFor="let plan of plans"
        >
          <div class="plan_item" (click)="setSelected(plan.id!)">
            <div class="left">
              <h4 *ngIf="currentPlan?.planId! == plan?.id">Current :</h4>
              <h4>{{ plan?.name }}</h4>
            </div>
            <div class="right">
              <div>
                <p
                  class="plan__paragraph"
                  *ngFor="let feature of plan?.features"
                >
                  {{ feature?.name }}
                </p>
              </div>
              <p class="plan__price">
                {{ plan?.amountPerMonth | currency: "₦" }}/month
              </p>
            </div>
          </div>
          <span class="check"></span>
        </li>
      </ul>
    </div>
    <div class="d-flex justify-content-center mt-4">
      <button
        [disabled]="isIntializingPayment"
        (click)="openMonthsModal()"
        class="btn_primary btn_sm me-2"
        [title]="
          selectedPlanId === null ||
          selectedPlanId === undefined ||
          selectedPlanId === ''
            ? 'Select a plan'
            : 'Continue'
        "
      >
        <span *ngIf="!isIntializingPayment">Continue</span>
        <span *ngIf="isIntializingPayment">
          <app-global-loader
            [diameter]="20"
            [text]="'Initializing'"
            [inline]="true"
          ></app-global-loader>
        </span>
      </button>
      <button class="btn_outlined btn_sm" routerLink="../login">Go Back</button>
    </div>
  </div>
</div>
